html {
  font-family: Roboto, sans-serif;
  background-color: black;

  --primary-color: #00acdc;
}

body {
  margin: 0;
}

header {
  background-color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

header > a {
  display: flex;
}

.logo {
  width: 40px;
  height: 40px;
  opacity: 1;
}

li {
  margin-left: 20px;
}

li:first-child {
  margin-left: 0;
}

.nav__list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0;
}

.nav__list a {
  display: block;
  text-decoration: none;
  color: #000;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav__list a.is-active {
  color: var(--primary-color);
}

.nav__list a.is-active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.nav__list a:hover {
  color: var(--primary-color);
}
